.CartItem img {
  height: 50px;
  width: 50px;
}

.CartItem {
  border-bottom: 1px solid #eee;
  display: flex;
  flex-direction: row;
  padding: 16px;
}

.CartItem-details {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 8px;
  width: 100%;
}
