header {
  border-bottom: 1px solid #bbb;
  height: 50px;
}

.Kroger {
  min-height: 100vh;
}

.Kroger-content {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 50px);
}

.Kroger-cart {
  border-left: 1px solid #bbb;
  width: 500px;
}

.Kroger-shop {
  min-width: calc(100vw - 500px);
}
